# Configuración de Google Gemini
GOOGLE_API_KEY=tu_api_key_aqui

# Configuración de Supabase
SUPABASE_URL=tu_supabase_project_url
SUPABASE_KEY=tu_supabase_anon_key

# Configuración de Ollama (Local)
OLLAMA_BASE_URL=la_direccion_de_ollama
OLLAMA_MODEL=tu_modelo_local

# Configuración de Groq
GROQ_API_KEY=tu_api_key_aqui
GROQ_MODEL=tu_modelo_groq