streamlit>=1.32.0
langchain>=0.1.0
langgraph>=0.0.26
langchain-google-genai>=0.0.11
supabase>=2.4.0
python-dotenv>=1.0.1
pandas>=2.0.0
langchain-ollama
chromadb
pypdf
langchain-chroma
langchain-community>=0.0.1
ebooklib

sentence-transformers
langchain-huggingface
