streamlit>=1.32.0
langchain>=0.1.0
langgraph>=0.0.26
supabase>=2.4.0
python-dotenv>=1.0.1
pandas>=2.0.0
pypdf
langchain-community>=0.0.1
ebooklib

sentence-transformers
langchain-huggingface
langchain-huggingface
langchain-groq
dateparser
python-telegram-bot
tzlocal
BeautifulSoup4
google-api-python-client
google-auth
